name: Metrics
on:
  # Schedule daily updates (runs at 00:00 UTC / 5:30 AM IST)
  schedule: [{cron: "0 0 * * *"}]
  # Allow manual trigger
  workflow_dispatch:

  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          
          # Options
          user: aniketchawardol
          template: classic
          config_timezone: Asia/Kolkata
          
      
          base: header, activity
          
    
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          
      
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_limit: 8
          plugin_languages_details: lines, percentage
